* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #262626;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 60px 50px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo-details {
  display: flex;
  align-items: center;
}

.logo-details .logo_name {
  font-size: 30px;
  font-weight: 600;
}

.top .media-icons {
  display: flex;
  align-items: center;
}

.top .media-icons a {
  color: #fff;
  font-size: 25px;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.top .media-icons a:hover {
  transform: scale(1.2);
}

.link-boxes {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.link-box {
  flex-basis: 20%;
}

.link-box h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.link-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-box ul li {
  margin-bottom: 10px;
}

.link-box ul li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link-box ul li a:hover {
  transform: translateX(10px);
}

.bottom-details {
  border-top: 1px solid #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0;
  margin-top: 30px;
}

.bottom-details p {
  font-size: 14px;
}

.bottom-details .contact-box {
  display: flex;
  align-items: center;
}

.bottom-details .contact-box span {
  font-size: 16px;
  margin-right: 10px;
}

.bottom-details .contact-box a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.bottom-details .contact-box a:hover {
  transform: translateX(10px);
}
